<script>
    // Imports
    import { scaleLinear } from 'd3-scale';
    import { extent, max } from 'd3-array';
    import { area } from "d3-shape";

// Variables
export let build;
export let xScale;
export let yScale;
export let scaled_type;
export let index;


$: path = () => {
     let i = "M " + xScale(0) + " " + 10
    build.forEach((d,index) => { i += " " + xScale(index) + ' ' + yScale(d.total_heating_energy) });
    i = i+ " " + xScale(24*31)  + " " + 10
    i= i+  " " + xScale(0)  + " " + 10
    return i;
}

$:{ if(scaled_type == "separate") {yScale = scaleLinear().domain(extent(build.map((d) => d.total_heating_energy))).range([10,0])}}

</script>
 <g transform="translate(0, {index*15})">
    <path id="path" d={path()}></path>
</g>

<style>
    path {
        stroke: #000070dd;
        fill: #000070dd;
        stroke-width:1px;
    }

</style>


