<script>
    // Imports
    import { arc, radialArea } from "d3-shape";
    import { scaleLinear, scaleRadial } from "d3-scale";
    import { extent } from "d3-array";

    const width = 600;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    export let data = [];
    export let city;

    data = data.filter(d => d.city == city);
    const scaled_Y_h = scaleRadial().range([0, 50]).domain(extent(data, d => d.heating)) 
    const scaled_Y_c = scaleRadial().range([0, 50]).domain(extent(data, d => d.cooling))
    const scaled_X = scaleLinear().range([0, 2 * Math.PI]).domain(extent(data, d => d.day_of_year))
    const Cooling = radialArea().angle(d => scaled_X(d.day_of_year)).innerRadius(0).outerRadius(d => scaled_Y_c (d.cooling))
    const Heating = radialArea().angle(d => scaled_X(d.day_of_year)).innerRadius(0).outerRadius(d => scaled_Y_h(d.heating))

</script>


<svg viewBox="0 0 {width/2} {height}" style="max-width: {width/2}px">
    
    <g transform="translate({margin.left}, {margin.top})">
        <g transform="translate({width/6},125)">
            <circle cx={0} cy={0} r={50}></circle>
            <path class='cooling' d={Cooling(data)}  fill="blue" stroke-opacity=0.5  fill-opacity=0.1 />
            <path  class='heating' d={Heating(data)} fill="red" stroke-opacity=0.3  fill-opacity=0.1/>
            <line class="line" x1 = {0} x2 = {0} y1 = {50} y2 = {-50}></line>
            <line class="line" x1 = {- 50} x2 = { 50} y1 = {0} y2 = {0}></line>
            <text class="month" x = {52} y = 7>3</text> 
			<text class="month" x = {-62} y = 7>9</text>
			<text class="month" x = -7 y = {-57} >0</text> 
			<text class="month" x = -5 y = {65} >6</text>            
        </g>
    </g>
    <g transform="translate(0,25)">
        <text class="title_city" x="36%" y="14%" text-anchor="middle">{city} <br/></text>
    </g>
    

    <g transform = "translate(70,{210})">
        <circle class = "Cooling" cx = 10 cy = 10 r = 5> </circle>
        <text class="label" x = 25 y=15 > Cooling </text>
    </g>

    <g transform = "translate(70,{height-20})">
        <circle class = "Heating" cx = 10 cy = 10 r = 5> </circle>
        <text class="label" x = 25 y=15 > Heating </text>
    </g>
</svg>


<style>
    .label{
        font: 15px; 
        font-family:italic 20px serif;
    }
    .title_city{
        font: 15px; 
        font-family:italic 30px serif;
    }
  
    circle{
        fill-opacity: 0.1;
        fill: white;
        stroke-opacity: 1.0;
        stroke: black;
    }
    .cooling{
        fill-opacity:0.5;
    }

    .heating{
        fill-opacity:0.5;
    }

    .Cooling{
        fill: blue;
        fill-opacity:0.5;
    }

    .Heating{
        fill: red;
        fill-opacity: 0.5;
    }
    .line{
        stroke: black;
        stroke-opacity: 1;}
</style>
