<script>
    import { scaleLinear } from "d3-scale";
    export let yScale_gas;
    export let yScale_electricity;
    export let data=[];
    export let idx;
    let len= data.length;
    let Scale_X;
    let gas;
    let elec;
 
    $: {
        Scale_X =  scaleLinear().domain([0,len]).range([0,len*1.5])
    }
    
    $: { gas = "M " + Scale_X(0) + " " + -80
        elec = "M " + Scale_X(0) + " " + -80
    
        data.forEach((d,idx) => {
            gas = gas +  " " + Scale_X(idx) + " " + yScale_gas(d.total_gas) + " "
            elec = elec + " " + Scale_X(idx) + " " + yScale_electricity(d.total_electrity) + " "
        });    
        gas = gas + Scale_X(len) + " " + -80 + " "+  Scale_X(0) + " " + -80
        elec += Scale_X(len)+ " " + -80 + " "+ Scale_X(0)+ " " + -80

    }
    
    </script>

<g transform="scale(1,1) rotate(-30,{0},{-80})">
            <path id = "g" d={gas}></path>
            <path id = "e" d={elec}></path>
   
 {#if idx % 2 !== 0}
    <g transform="rotate(180)">
        <text id="even" x ={-len} y = {-30}>week {idx+1} </text></g>
{:else}
    <text id = "odd" x ={(len*1.25)/3} y = {-35}>week {idx+1} </text>
 {/if}
    </g>


    <style>
        #g {
            stroke: orange;
            fill: orange;
            stroke-width:2px;
    
        }
             #even{
            transform:scaleY(-1);
    
        }
        #e {
            stroke: blue;
            fill: blue;
            stroke-width:2px;
        }
       
    </style>
    