<script>
  // Import.
  import { onMount } from 'svelte';
  import {json} from "d3-fetch"
  import Plot from "./_design_1_Plot.svelte";
  import { scaleLinear} from 'd3-scale';
  import { extent } from 'd3-array';
  import { axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';
// Size and margins.
  const width = 1500;
  const height = 300;
  const margin_data_separator = 15.4;
  const margin = { top: 15, right: 15, bottom: 15, left: 15 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

// Define variables.
  let city_type= "Baltimore"
  let scaled_type= "separate"
  let datapoints = [];
  let buildings = [];
  let xScale =  scaleLinear().domain([0, 24*31]).range([95, innerWidth]);
  let yScale;
  let x_axis;
  // Load data.
  onMount(async () => {
        let data = await json("/data/hourly_heating_december.json")
        .then(data => datapoints = data)
        .then(build =>buildings = [...new Set(build.map((d) => d.buildingtype))])
  });
  // Select data for chosen city and scale.
  let selected_city = {}
  $: {selected_city = datapoints.filter(d => d.city == city_type)}
  $:{ if(scaled_type == "separate") {yScale = null;}
      else {yScale = scaleLinear().domain(extent(selected_city.map((d) => d.total_heating_energy)))
        .range([10,0])}}
  $: x_axis = axisBottom(scaleLinear()
        .domain([1,31])
        .range([110, 794.5]))
        const svgX = () => select("#a_date").attr("transform", "translate(0,250)").call(x_axis)
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text id="main_title"  x={width/6} y={innerHeight} >Design 1: Energy use over multiple days.</text>
    <text id="small_title" x=60 y={innerHeight-12}> 1 Dec. </text>
    <text id="small_title" x=750 y={innerHeight-12}> 31 Dec. </text>
    {#each buildings as building,idx}
    <g transform="translate(-50, 0)">
    <text class="buildingname" x=50 y={idx*margin_data_separator+5}>{ building.split(/(?=[A-Z])/).join(" ")}:</text>
    </g>
    <Plot build={selected_city.filter(d => d.buildingtype == building)} xScale = {xScale} yScale = {yScale} scaled_type = {scaled_type} index={idx} />
      {/each}
    </g>
    <g id="a_date"  transform="translate(50,150)" use:svgX>
    </g> 
    
</svg>
<div >
  <div >
  <h6>Location:</h6>
      <label for="Baltimore-option">
          <input type=radio  id="Baltimore-option" bind:group={city_type} name="selector" value="Baltimore" >
          <span>BALTIMORE</span>
      </label>

      <label>
          <input type=radio id="Chicago-option" bind:group={city_type} name="selector" value="Chicago">
          <span>CHICAGO</span>
      </label>

      <label>
          <input type=radio id="LosAngeles-option" bind:group={city_type} name="selector" value="Los Angeles" >
          <span>LOS ANGELES</span>
      </label>
  </div>

  <div  >
  <h6>Scaling:</h6>
  <label>
      <input type=radio id="each-option" bind:group={scaled_type} name="per-line" value="separate">
      <span>WITHIN BUILDING TYPES</span>
  </label>

  <label>
      <input type=radio id="all-option" bind:group={scaled_type}  name="across-all-line" value="all">
      <span>ACROSS ALL BUILDING TYPES</span>
  </label>
</div>

</div>

<style>
        label{
    padding:0.1px;
    font-family:corbel;
    font-size: 10px;
    margin: 0.5px;
}

  .buildingname {
    font-size:9px;
    font: weight 0.5em;
    font-family:corbel;
  }
  #main_title {
    font-size:14px;
    font-family:corbel;
  
  }
  #small_title {
    font-size:12px;
    font-family:corbel;
  
  }
  

</style>
