<script>
  // Imports
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Plot from "./_design_2_Plot.svelte";

 

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const name = [{city: "Chicago",},
                {city: "Baltimore",}, 
                {city: "Los Angeles",}];

  // Load the data
  let data = null;
  onMount(async () => {data = await json("/data/daily_heating_cooling.json");
  });

</script>


{#if data}
{#each name as cities }
<Plot data={data} {...cities}/>
{/each}
{:else}
<p>Loading the data, please wait...</p>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>

