<script>

// Import
  import { onMount } from 'svelte';
  import {json} from "d3-fetch"
  import Plot from "./_design_3_Plot.svelte";
  import { scaleLinear } from 'd3-scale';
  import { axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';

// Size and margins
const width = 500;
const height = 600;
const margin = { top: 10, right: 10, bottom: 10, left: 10 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;

// Load the data
let data =[];
  onMount(async () => {
    data = await json("/data/hourly_electricity_vs_gas_december.json");
  });

let yScale_gas;
let yScale_elec;
$: {
  let max_gas = Math.max(...data.map(d => d.total_gas))
  let min_gas = Math.min(...data.map(d => d.total_gas))
  let max_elec = Math.max(...data.map(d => d.total_electrity))
  let min_elec = Math.min(...data.map(d => d.total_electrity))
  let max_both = Math.max(max_gas,max_elec)
  let min_both = Math.min(min_gas,min_elec)
  yScale_gas = scaleLinear().domain([min_both,max_both]).range([-80,-50])
  yScale_elec = scaleLinear().domain([min_both,max_both]).range([-80,-130])
}

let w = {};
$: {data.forEach((d,idx) => {
    if((d.week in w)) {w[d.week].push(d)} 
    else {w[d.week] = [] }})
}
</script>


<svg {width} {height}>
<g transform="translate({margin.left}, {margin.top})">
  <line x1={250} x2 = {250} y1 = {height-35} y2={50}></line>
  <text id="title_small" x={165} y={580}>Chicago (December 2014)</text>
  <text id="title_main" x={100} y={20}>Design 3: Gas and Electricity use as a tree.</text>

  <g transform="translate(0, {150})">
  {#each Object.keys(w) as week,idx}
  <g transform="translate(250, {innerWidth - idx*100})">
  {#if idx % 2 !== 0}
  <g transform=" scale(-1,1)">
    <Plot data={w[week]} idx={idx} yScale_gas = {yScale_gas} yScale_electricity = {yScale_elec}/>
  </g>
  {:else}
  <Plot data={w[week]} idx={idx} yScale_gas = {yScale_gas} yScale_electricity = {yScale_elec}/>
  {/if}
  </g>
  {/each}
  </g>
</g>


  <circle class = "electricty_usage" cx = 40 cy = 560 r = 5 fill= blue> </circle>
  <text class="label" x =  47 y=565 > Electricity usage </text>

  <circle class = "Heating" cx = 40 cy = 580 r = 5 fill=orange> </circle>
  <text class="label" x = 47 y=585 > Gas usage </text>


</svg>

<style>
#label {
  font-family: serif;
  font-size:10;

}
#title_small {
  font-family: serif;
  font-size:15;
  
}
#title_main {
  font-family:serif;
  font-size:40;
}
svg {
  border: 1px solid white;
  border-radius: 5px;
}
line {
  stroke:black;
  stroke-width:2;
}
</style>
