<div>
    <style>
      h1{font-size: 50px;}
      h2{font-size: 40px;}
      h3{font-size: 30px;}
      h4{font-size: 20px;}
      h5{font-size: 10px;}
      </style>
 
<header>
  <h1>Section 50px</h1>
  <h2>Section 40px</h2>
  <h3>Section 30px</h3>
  <h4>Section 20px</h4>
  <h5>Section 10px</h5>
</header>
</div>
