<script>

  // Properties
  export let selectedContinent = 'all';
  export let selectedYear = 1800;
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];

  let clicked= false;
  let paused = true;

  var interval = setInterval(()=> {
    if (paused==false){
        if(selectedYear == 2014) {selectedYear = 1800}
        selectedYear += 1;
        clicked = true;}
      }
      ,80);

    function stoper() {
      paused = true;
      clicked = false;
    }
    function starter() {
      paused = false;
      clicked = true;
    }

    function reseter(){
      selectedYear = 1800;
    }
</script>

<div class="row">
  <div class="col-4">
    {#if !clicked}
    <button type="button" class="btn btn-success" on:click={starter}>Start</button>
    {:else}
    <button type="button" class="btn btn-danger" on:click={stoper}>Stop</button>
    {/if}
    <button type="button" class="btn btn-primary" on:click={reseter}>Reset</button>
</div>

<div class="col-5">
  <label class="form-label col-sm-15"> Year: {selectedYear}
    <input type="range" class="form-range" min="1800" max="2014" bind:value={selectedYear}>
  </label>
  </div>

  <div class="col-3">
    <select id="drop-down menu" class="form-select" bind:value={selectedContinent}>
      <option value="all" selected="selected">all</option>
      {#each continents as name}
        <option>{name}</option>
      {/each}
    </select>

  </div>
</div>


