<script>
    let count = 0;
    let reset = false;
  
    function increase() {
          reset = false;
          count += 1;
      }
  
      function reseton() {
          count = 0;
          reset = true;
      }
  </script>

    <button class="btn btn-success" on:click={increase}>
      {#if count == 0}
      Click Here!
      {:else }
          You have clicked {count} times
      {/if}
    </button> 
    
    <button class="btn btn-danger" on:click={reseton}>
      Reset the counter
    </button> 