<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color and opacity
  let color = "darkred";

  // Countdown light
  let currentIndex = index - 1;
  const interval = setInterval(countdown, 1000);

  function countdown() {
    if (currentIndex == -1) {clearInterval(interval);}
    currentIndex--;}
    $: color = currentIndex == -2 ? "darkgreen" : color;
</script>

<style>
  .red{opacity:1;}
  .green{opacity:0.3;}
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each points as datapoint, p}
    <circle 
    fill={color}
    cx={datapoint} 
    cy={innerHeight/2} 
    r="12" 
    class:red="{p>=currentIndex}" 
    class:green="{p<currentIndex}"
     />
  {/each}
  </g>
</svg>
