<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let filtered_all;
  let data = null;
  let selectedContinent = 'all';
  let selectedYear = 1800;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  function extract(data, selectedContinent,selectedYear){
    const filtered_year = data.filter(item => item.year == selectedYear);
  if (selectedContinent == 'all') {filtered_all= filtered_year[0]['countries'];} 
  else {filtered_all = filtered_year[0]['countries'].filter(item => item.continent == selectedContinent);};
 return filtered_all
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={extract(data, selectedContinent, selectedYear)} />
    <Controls bind:selectedYear= {selectedYear} bind:selectedContinent={selectedContinent} {data} />

  </div>
{/if}
