<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });


  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  
  $:local_selection_1=[];
  $:local_selection_2=[];
  $: select1=local_selection_2.map((d,idx) => {if(d==true && local_selection_2[idx]==true) {return true} return false});
  $: select2=local_selection_1.map((d,idx) => {if(d==true && local_selection_1[idx]==true) {return true} return false});
  $: global_selection=select1.map((d,idx) => {if(select1[idx]==true && select2[idx]==true) {return true} return false});

</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
<Scatter {data} {global_selection} {...s1} bind:local_selection={local_selection_1}/>
<Scatter {data} {global_selection} {...s2} bind:local_selection={local_selection_2}/>
{/if}

