<script>
 import { onMount } from 'svelte';
    import Scatterplot from "./_ex_7_scatterplot.svelte";
    let prepare;
    let data_all=[];
    onMount(async () => {
    const data_await = await fetch('/data/gapminder.json');
    data_all=await data_await.json();
    prepare=true;
    });
</script>

{#if prepare } 
<Scatterplot data={data_all[0].countries} />
{:else}
<p>Wait..</p>
{/if}